[Desktop Entry]
Name=CurveCtrl
Comment=A film negative scanning and RAW image editor
Type=Application
Icon=io.github.jpttrssn.curvectrl
Exec=curvectrl %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
